
.container{
    height: 180px;
    border: 1px solid red;
    width: 900px;
    margin: auto;
    padding: 10px 10px 0px 10px;
    background-color: antiquewhite;
    padding: 10px 10px 20px 10px;
    

}

.content{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: aliceblue;
    padding: 5px;
}

.movie-name{
    background-color: rgb(184, 161, 130);
    height: 20px;
    width: 896px;
    padding: 2px;
    color: whitesmoke;
    
}
.content .image > img{
    height: 150px;
    width: 100px;

}
.content .details{
   margin: 5px 10px;
}
#readmore-btn{
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: lightblue;
    columns: black;
    cursor: pointer;
    padding: 5px;
    &:hover{
        background-color: rgb(25, 140, 179);
        color: white;
    }
}